<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Logout</title>
  <link rel="stylesheet" type="text/css" href="/static/error/typicons.css" />
  <link rel="stylesheet" type="text/css" href="/static/error/vendor.bundle.base.css" />
  <link rel="stylesheet" type="text/css" href="/static/error/styles.css" />
</head>

<body>
  


  <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex justify-content-center">
            <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
    
                <a class="navbar-brand brand-logo" type="submit" value="Submit"><img src="/static/images/slogan_m_red_2.png" alt="logo"/></a>
                <a class="navbar-brand brand-logo-mini" type="submit" value="Submit"><img src="/static/images/small3.png" alt="logo"/></a>
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                  <span class="typcn typcn-th-menu"></span>
                </button>
              
            </div>
          </div>
        </nav>

    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center text-center error-page bg-primary">
        <div class="row flex-grow">
          <div class="col-lg-7 mx-auto text-black">
            <div class="row align-items-center d-flex flex-row">
              <div class="col-lg-6 text-lg-right pr-lg-4">
                <h1 class="display-1 mb-0">Logout</h1>
              </div>
              <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                <h2>Success</h2>
                <h3 class="font-weight-light">You have been successfully logged out.</h3>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 text-center mt-xl-2">
                <a class="text-red font-weight-medium"  style="font-size:1.8rem;" href="/login">Back to Login</a>
              </div>
            </div>
           
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->

  <!-- endinject -->
  <!-- inject:js -->
  <script src="/static/error/vendor.bundle.base.js"></script>

  <!-- endinject -->
</body>

</html>